@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 10px;
}

body{
    /*background: #EEE;*/
}

#wrapper{
    width: 100%;
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #D5E2E9;
    /*color: #ff;*/
}

.container{
    width: 70%;
    height: 85%;
    display: flex;
    min-width: 80rem;
    /*background-color: white;*/
    justify-content: center;
}

/*#chat-screen .write-msg*/ i{
    padding-top: 0.5rem;
    color: #CA362A;
    cursor: pointer;
}

header{ /* Channels + Users header */
    /*background-color: white; /*#C50E1F;
    /*color: black;*/
    padding: 0.2rem 0;
    background: #F8F8F8;
}

header h1{ /* Channels + Users header */
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
}

textarea {
    flex-grow: 2;
    resize: none;
    border: none;
    padding: 8px 0px 5px 10px; /* top, right, bottom, left */
    height: 3rem;
    border-radius: 20px;
    background-color: white;
    width: 90%;
}

/*#region Channels*/

#channels {
    background-color: #EEEEEE;
    border-right: 1px solid rgba(0,0,0,0.3);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 35rem;
}

#channels ul{
    list-style-type: none;
}

#channels ul li{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    /*justify-content: center;*/
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 3px;
}

#channels ul li:first-child{
    padding-top: 2px;
}

.channel-name{
    font-size: 2.5rem;
    margin-left: 5px;
    flex-grow: 2;
    min-width: 15rem;
    cursor: pointer;
}

.channel-name .selected {
    font-weight: bolder;
    color: #C50E1F;
}


#channels .channel-list .topic{
    font-size: 1.3rem;
    justify-content: right;
    flex-grow: 0.3;
    text-align: center;
    /*margin-left: 8px;*/
}

#channels .topic textarea{
    flex-grow: 2;
    resize: none;
    border: none;
    /* top, right, bottom, left */
    padding: 8px 0px 5px 10px;
    height: 3rem;
    border-radius: 20px;
    background-color: white;
    text-align: left;
    justify-content: left;
}

/*#endregion Channels*/

/*#region Users*/

#users{
    background-color: #EEEEEE;
    border-right: 1px solid rgba(0,0,0,0.3);
    max-width: 20rem;
}

#users header h1{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
}

#users ul{
    list-style-type: none;
}

#users ul li{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/

    /*justify-content: center;*/
    /*border-bottom: 1px solid rgba(0,0,0,0.3);*/
    /*padding-left: 0.5rem;
    /*padding-top: 0.3rem;*/
    /*line-height: 3rem;*/
    padding-bottom: 3px;
}

#users ul li:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-top: 3px;
    padding-bottom: 3px;
}

/* to overwrite your frickin double line*/
#users #userslist li:first-child{
    border-bottom: 0px solid rgba(0,0,0,0);
}



.user-name{
    font-size: 1.5rem;
    margin-left: 5px;
    /*margin-bottom: 0.0rem;*/
}

.user-list{
    flex-grow: 2;
    margin: auto 0;
    min-width: 5rem;
}

#users .user-name i{
    vertical-align: 0.4em;
}

/*#endregion users*/

/*#region chat*/


#chat-screen{
    height: 100%;
    min-width: 30rem;
    background: #E5DDD5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    color: #333;
    max-width: 80rem;
}

#chat-screen .write-msg{
    background-color: #EEEEEE;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
}

#chat-screen .write-msg textarea{
    /*flex-grow: 2;*/
    margin: 0 1rem;
    /*resize: none;*/
    /*border: none;*/
    /*padding-top: 7px;*/
    /*padding-left: 10px;*/
    /*height: 3rem;*/
    /*padding: 7px 0px 0px 10px;*/
    /*border-radius: 20px;*/
    /*background-color: white;*/
}

#chat-screen .write-msg textarea:focus {
    outline: none;
}

#messages{
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    hyphens: auto;
    flex-grow: 2;
    padding: 1rem;
    scroll-behavior: smooth;
}

#messages article{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    /* set font size for msg and user */
    font-size: 1.5rem;
}

#messages article .user{
    margin-right: 1rem;
    word-break: keep-all;
    /*font-size: 1.5rem;*/
}

#messages .msg {
    /* white message background */
    background-color: #fff;
    /*width: 100%;*/
    padding: 0.5rem 1rem;
    border-radius: 0 4px 4px 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: left;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*font-size: 1.5rem;*/
}

#messages .inner-msg{
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*padding: 1.5rem 1rem;*/
    /*border-radius: 0 4px 4px 4px;*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.1);*/
    font-size: 1.5rem;
    text-align: left;
    margin: auto 0;
    /*overflow-wrap: break-word;*/
}

#messages .timestamp{
    font-size: 1.1rem;
    text-align: right;
    padding-top: 5px;
    margin-bottom: -4px;
    margin-right: -5px;
}

/*#endregion chat*/


/*a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.selected{*/
/*    font-weight: bold;*/
/*} */

#header{
    /* TU WhatsChat header */
    background-color: #C50E1F;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

#footer{
    /* copyright footer */
    font-size: 1.5rem;
    text-align: center;
}
